/* Reset default margins & paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background-image: url(/HomeImage.gif);
}

/* Navbar Container */
.navbar {
    width: 100%;
    height: 75px;
    background-color: #156082; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* Left Side (Title & Punchline) */
.left-box {
    display: flex;
    flex-direction: column;
}

.heading {
    padding-top: 5px;
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 10px;
    line-height: 1;
}

.punch-line {
    font-size: 16px;
    /* font-weight: bold; */
    font-style: italic;
    opacity: 0.9;
}

/* Right Side (Nav Menu) */
.right-box {
    display: flex;
}

.nav-menu {
    display: flex;
    list-style: none;
}

.nav-menu li {
    margin-left: 30px;
}

.nav-menu li a {
    text-decoration: none;
    color: white;
    font-size: 18 px;
    /* font-weight: bold; */
    transition: color 0.3s ease;
}

.nav-menu li a:hover {
    color: rgb(179, 196, 211);
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 0px 20px;
        align-items: flex-start;
    }

    .nav-menu {
        justify-content: center;
       
        
    }
    .nav-menu li, a {
        margin-right: 10px;
        font-weight: bold;
    
    }
    
}

@media screen and (max-width: 890px) {
    .navbar {
        flex-direction: column;
        height: auto;
        padding: 2px 20px 0px 20px;
        align-items: flex-start;
    }

    .nav-menu { 
        justify-content: center;
    }

    .nav-menu li {
        margin: 10px;
    }
    .right-box {
        display: none;
    }
    .punch-line {
        font-size: 12px;
    }
    .heading {
        font-size: 15px;
    }
}
